.tools{
    font-family: 'Inter', sans-serif;
  color:$background;
  & h1{
    text-align: center;
    font-size: 50px;
    margin:30px auto 30px auto;
  }
  
}


// input text to speech
// text file reader
// word doc reader
// pdf reader
// img text extraction
// img text reader
// word dictionary