@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: pacaembu;
  src: url("../../Fonts/Pacaembu Bold.ttf");
}
.hero {
  height: 20vh;
  color: #96ff81;
  background-color: #2a2f3d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero h1 {
  font-family: pacaembu;
  text-align: center;
  font-size: 50px;
}

* {
  font-family: "Montserrat", sans-serif;
}

.form {
  margin-top: 40px;
  text-align: center;
}
.form input {
  color: #96ff81;
  background-color: #2a2f3d;
  border: none;
  padding: 10px;
  width: 30%;
  border-radius: 5px;
}
.form button {
  background-color: #96ff81;
  color: #2a2f3d;
  border: none;
  padding: 10px;
  width: 5%;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #96ff81;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #96ff81;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #96ff81;
}

.result {
  margin: 40px auto 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 36%;
  background-color: #2a2f3d;
  border-radius: 5px;
  padding: 50px;
}
.result h2 {
  margin-bottom: 30px;
}
.result h2, .result h3 {
  color: #96ff81;
  font-family: "Inter", sans-serif;
}
.result h3 {
  margin-bottom: 10px;
}
.result .json {
  display: flex;
  flex-direction: column;
}
.result .json div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.result p {
  color: #fcfeff;
}

.fa {
  color: #96ff81;
}

footer {
  margin-top: 30px;
  color: #96ff81;
  background-color: #2a2f3d;
  padding: 10px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 1230px) {
  #btn {
    width: 7%;
  }

  .result {
    width: 38%;
  }
}
@media screen and (max-width: 989px) {
  .form input {
    width: 50%;
  }

  .result {
    width: 58%;
  }
}
@media screen and (max-width: 871px) {
  #btn {
    width: 10%;
  }

  .result {
    width: 61%;
  }
}
@media screen and (max-width: 616px) {
  .form input {
    width: 60%;
  }

  #btn {
    width: 13%;
  }

  .result {
    width: 74%;
  }
}
@media screen and (max-width: 541px) {
  .hero h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 466px) {
  .form input {
    width: 70%;
  }

  #btn {
    width: 16%;
  }

  .result {
    width: 87%;
  }
}
@media screen and (max-width: 455px) {
  footer {
    font-size: 12px;
  }
}
@media screen and (max-width: 422px) {
  .hero h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 354px) {
  #btn {
    width: 18%;
  }

  .result {
    width: 89%;
  }
}
@media screen and (max-width: 345px) {
  .form input {
    width: 75%;
  }

  #btn {
    width: 20%;
  }

  .result {
    width: 100%;
  }
}
@media screen and (max-width: 338px) {
  .hero h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 331px) {
  footer {
    font-size: 10px;
  }
}
body {
  background-color: #20232a;
}