@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.mainhero {
  height: 80vh;
  width: 100%;
  background-color: #79589f;
  color: #fcfeff;
  font-family: "Inter", sans-serif;
  background-image: url(a.png);
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
}
.mainhero .hero {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin: auto;
}
.mainhero .hero a {
  text-decoration: none;
  color: inherit;
  padding: 10px 15px;
  border: 1px solid #fcfeff;
  border-radius: 4px;
  background-color: #5B2C6F;
}
.mainhero .hero .left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mainhero .hero .left h1 {
  font-size: 90px;
  margin-bottom: 10px;
}
.mainhero .hero .left p {
  margin-bottom: 15px;
}
.mainhero .hero img {
  width: 25%;
}

.hero a:hover {
  background-color: #79589f;
}

.tools {
  font-family: "Inter", sans-serif;
  color: #79589f;
}
.tools h1 {
  text-align: center;
  font-size: 50px;
  margin: 30px auto 30px auto;
}