@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.mainhero {
  height: 80vh;
  width: 100%;
  background-color: #79589f;
  color: #fcfeff;
  font-family: "Inter", sans-serif;
  background-image: url(a.png);
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
}
.mainhero .hero {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin: auto;
}
.mainhero .hero a {
  text-decoration: none;
  color: inherit;
  padding: 10px 15px;
  border: 1px solid #fcfeff;
  border-radius: 4px;
  background-color: #5B2C6F;
}
.mainhero .hero .left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mainhero .hero .left h1 {
  font-size: 90px;
  margin-bottom: 10px;
}
.mainhero .hero .left p {
  margin-bottom: 15px;
}
.mainhero .hero img {
  width: 25%;
}

.hero a:hover {
  background-color: #79589f;
}

.tools {
  font-family: "Inter", sans-serif;
  color: #79589f;
}
.tools .toolsgrid {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tools h1 {
  text-align: center;
  font-size: 50px;
  margin: 42px auto 42px auto;
}
.tools .alltools {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  grid-gap: 2rem;
}
.tools .alltools div {
  border: 1px solid #79589f;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}
.tools .alltools div a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  background-color: #5B2C6F;
  border-radius: 4px;
  color: #fcfeff;
}
.tools img {
  margin-bottom: 10px;
  width: 20%;
}
.tools p {
  margin-bottom: 10px;
}
.tools .title {
  text-transform: uppercase;
  font-weight: 900;
  color: #000;
}

.alltools div a:hover {
  background-color: #79589f;
}

footer {
  background-color: #79589f;
  color: #fcfeff;
  margin-top: 42px;
}